<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Git Fusion"
            id="com.perforce.gitfusion.info">
      </category>
      <view
            name="Git Fusion"
            icon="icons/perforce-git-fusion-logo-20x20.png"
            category="com.perforce.gitfusion.info"
            class="com.perforce.gitfusion.info.views.GitFusionView"
            id="com.perforce.gitfusion.info.views.GitFusionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.perforce.gitfusion.info.views.GitFusionView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
